body {
    color: orange;
    margin: 50px;
    background: #ffffff;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    background-image: linear-gradient(rgba(54, 54, 54, 0.7), rgba(54, 54, 54, 0.7)), url("../images/splash-bg.jpg");
}

h1 {
    font-size: 64px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;        
    background-image: url('Images/loginBox.png');
    width:546px;
    height:265px;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/
}

a.button {
    background-color: orange;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
}